body {
  margin: 0;
  padding: 0;
}
.main-section {
  display: flex;
  flex-direction: column;
}
.section1 {
  width: 100vw;
  height: 200px;
  background: sandybrown;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  z-index: 2;
  /* display: table-cell; */
}

.wrapper {
  height: 100%;
  width: 50%;
  background: salmon;
  overflow: hidden;
  color: rgb(247, 82, 82);
  position: absolute;
  top: 0;
  left: 0;
}

.sliding {
  position: absolute;
  top: 2%;
  white-space: nowrap;
  font-size: 4.75em;
  line-height: 220px;
  background-color: rgb(236, 178, 69);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  animation: animate 20s linear infinite;
}
.section2 {
  width: 100vw;
  height: 2000px;
  background: rgb(247, 82, 82);
  box-sizing: border-box;
  overflow: hidden;
  /* position: absolute; */
  /* display: table-cell; */
}
.wrapper2 {
  /* height: 100%;
  width: 50%; */
  height: 500px;
  width: 500px;
  background: salmon;
  overflow: hidden;
  color: rgb(247, 82, 82);
  position: absolute;
  z-index: 0;
}
.scrolling {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */

  white-space: nowrap;

  /* background-color: rgb(236, 178, 69); */

  animation: animate 20s linear infinite;
}
.box {
  height: 500px;
  width: 500px;
  align-items: center;
  top: 800px;

  /* background-color: rgb(219, 99, 63) */
}
.yellow {
  background-color: rgb(236, 178, 69);
}
.orange {
  background-color: rgb(236, 144, 69);
  /* height: 500px;
  width: 500px; */
}
@keyframes animate {
  0% {
    transform: translate(0, 0%);
  }
  100% {
    transform: translate(-50%, -0%);
  }
}
